@model AWork.Contracts.Dto.Sales.ShoppingCartItem.ProductOnSaleDto

@{
    ViewData["Title"] = "Details";
}

@using (Html.BeginForm("AddToCart"
, "ProductOnSale"
, FormMethod.Post))
{
    <body>
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    @Html.HiddenFor(model => model.product.ProductId)
                    <h4>@Model.product.Name</h4>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="col-md">
                            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (var item in Model.product.ProductProductPhotos)
                                    {
                                        if (Model.product.ProductProductPhotos.FirstOrDefault() == item)
                                        {
                                            <div class="carousel-item active">
                                                <img src="@Url.Content("~/Resources/images/" + item.ProductPhoto.ThumbnailPhotoFileName)" class="card-img-top" alt="Image">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <img src="@Url.Content("~/Resources/images/" + item.ProductPhoto.ThumbnailPhotoFileName)" class="card-img-top" alt="Image">
                                            </div>
                                        }
                                    }
                                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h3>Product Description</h3>
                        <h5>Product Name</h5>
                        <h5>Product Price</h5>
                        <h5>Unit Stock</h5>
                        <h5>Quantity</h5>
                    </div>
                    <div class="col-md-6 col-lg-1">
                        <h3><br /></h3>
                        <h5>:</h5>
                        <h5>:</h5>
                        <h5>:</h5>
                        <h5>:</h5>
                    </div>
                    <div class="cold-md-6 col-lg-4">
                        <h3><br /></h3>
                        <h5>@Html.DisplayFor(model => model.product.Name)</h5>
                        <h5>@Html.DisplayFor(model => model.product.ListPrice)</h5>
                        <h5>@Html.DisplayFor(model => model.product.SafetyStockLevel)</h5>
                        @Html.TextBox("shoppingCartItemCreate.Quantity",1,new{@type="number", @id="quantity"})
                    </div>
                </div>
                @*<a asp-action="CreateOrderBuyNow">
            <input type="button" class="btn btn-secondary" value="Buy Now">
            </a>*@
                @*<input type="submit" class="btn btn-secondary" value="Buy Now" formaction="@Url.Action("CreateOrderBuyNow")" formmethod="post">*@
                @*<input type="submit" class="btn btn-primary" value="Add Cart" formaction="CreateOrderAddCart">*@
                <button type="submit" class="btn btn-primary" style="margin-left:1000px">Add Cart</button>
            </div>
        </div>
    </body>
}
@*<script>
    function getQuantity(){
        var input = document.getElementById("quantity").value;
    }
</script>*@

