@model AWork.Contracts.Dto.HumanResources.Employee.EmployeeDto

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <div class="container">
            <div>
                <h2 class="mb-3" , style="text-align: center">Employee Details</h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BusinessEntityId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BusinessEntityId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BusinessEntity.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BusinessEntity.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BusinessEntity.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BusinessEntity.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NationalIdnumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NationalIdnumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LoginId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LoginId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OrganizationLevel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OrganizationLevel)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.JobTitle)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.JobTitle)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MaritalStatus)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MaritalStatus)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HireDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HireDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SalariedFlag)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SalariedFlag)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.VacationHours)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.VacationHours)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SickLeaveHours)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SickLeaveHours)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentFlag)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentFlag)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Rowguid)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Rowguid)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.BusinessEntityId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>