@model AWork.Contracts.Dto.HumanResources.EmployeeEditGroupDto

@{
    ViewData["Title"] = "Edit";
}

<div class="container p-3 my-3">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center mb-3">EDIT EMPLOYEE</h3>
        </div>
        <div class="card-body">
            <form class="row g-3" method="post" asp-controller="EmployeePaged" asp-action="Edit">
                @*Employee*@

                @Html.HiddenFor(Model => Model.employeeDtos.LoginId)
                @Html.HiddenFor(Model => Model.employeeDtos.BusinessEntityId)
                @Html.HiddenFor(Model => Model.employeeDtos.SalariedFlag)
                @Html.HiddenFor(Model => Model.employeeDtos.CurrentFlag)
                @Html.HiddenFor(Model => Model.employeeDtos.Rowguid)

                @*Employee Pay History*@

                @Html.HiddenFor(Model => Model.employeePHDtos.RateChangeDate)
                @Html.HiddenFor(Model => Model.employeeDepartmentDtos.BusinessEntityId)
                @Html.HiddenFor(Model => Model.employeeDepartmentDtos.DepartmentId)
                @Html.HiddenFor(Model => Model.employeeDepartmentDtos.ShiftId)
                @Html.HiddenFor(Model => Model.employeePHDtos.BusinessEntityId)

                <div class="form-group col-6">
                    <label asp-for="employeeDtos.NationalIdnumber" class="control-label"></label>
                    <input asp-for="employeeDtos.NationalIdnumber" class="form-control" />
                    <span asp-validation-for="employeeDtos.NationalIdnumber" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="employeeDtos.BirthDate" class="control-label"></label>
                    <input asp-for="employeeDtos.BirthDate" class="form-control" />
                    <span asp-validation-for="employeeDtos.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    @Html.LabelFor(model => model.employeeDtos.MaritalStatus, htmlAttributes: new{@class ="form-label"})
                    @Html.DropDownListFor(model => model.employeeDtos.MaritalStatus, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="Married", Value = "M" },
                    new SelectListItem{ Text="Single", Value = "S" }},
                    "Select your type", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group col-6">
                    @Html.LabelFor(model => model.employeeDtos.Gender, htmlAttributes: new{@class ="form-label"})
                    @Html.DropDownListFor(model => model.employeeDtos.Gender, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="Male", Value = "M" },
                    new SelectListItem{ Text="Female", Value = "F" }},
                    "Select your type", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group col-4">
                    <label asp-for="employeeDtos.HireDate" class="control-label"></label>
                    <input asp-for="employeeDtos.HireDate" class="form-control" />
                    <span asp-validation-for="employeeDtos.HireDate" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="employeePHDtos.Rate" class="control-label"></label>
                    <input asp-for="employeePHDtos.Rate" class="form-control" />
                    <span asp-validation-for="employeePHDtos.Rate" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="employeePHDtos.PayFrequency" class="control-label"></label>
                    <input asp-for="employeePHDtos.PayFrequency" class="form-control"/>
                    <span asp-validation-for="employeePHDtos.PayFrequency" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="employeeDtos.VacationHours" class="control-label"></label>
                    <input asp-for="employeeDtos.VacationHours" class="form-control" />
                    <span asp-validation-for="employeeDtos.VacationHours" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="employeeDtos.SickLeaveHours" class="control-label"></label>
                    <input asp-for="employeeDtos.SickLeaveHours" class="form-control" />
                    <span asp-validation-for="employeeDtos.SickLeaveHours" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Employee JobTitle</label>
                    <div class="input-group input-group-merge">
                        @Html.DropDownList("employeeDtos.JobTitle",ViewBag.JobTitle,Model.employeeDtos.JobTitle,
                        new{@class="form-control"})
                    </div>
                </div>
                
                @*<div class="col-md-6">
                    <label class="form-label">Employee Departement</label>
                    <div class="input-group input-group-merge">
                        @Html.DropDownList("employeeDepartmentDtos.DepartmentId",ViewBag.DepartementId,Model.employeeDepartmentDtos.DepartmentId.ToString(),
                        new{@class="form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Employee Shift</label>
                    <div class="input-group input-group-merge">
                        @Html.DropDownList("employeeDepartmentDtos.ShiftId",ViewBag.ShiftoId,Model.employeeDepartmentDtos.ShiftId.ToString(),
                        new{@class="form-control"})
                    </div>
                </div>*@

                <br />

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="Index">
                        <input type="button" class="btn btn-secondary" value="Back" />
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>




@*

@model AWork.Contracts.Dto.HumanResources.Employee.EmployeeDto

@{
    ViewData["Title"] = "Edit";
}

<div class="container p-3 my-3">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center mb-3">EDIT EMPLOYEE</h3>
        </div>
        <div class="card-body">
            <form class="row g-3" method="post" asp-controller="EmployeePaged" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BusinessEntityId" />
                <div class="form-group col-6">
                    <label asp-for="NationalIdnumber" class="control-label"></label>
                    <input asp-for="NationalIdnumber" class="form-control" />
                    <span asp-validation-for="NationalIdnumber" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new{@class ="form-label"})
                    @Html.DropDownListFor(model => model.MaritalStatus, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="Married", Value = "M" },
                    new SelectListItem{ Text="Single", Value = "S" }},
                    "Select your type", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group col-6">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new{@class ="form-label"})
                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="Male", Value = "M" },
                    new SelectListItem{ Text="Female", Value = "F" }},
                    "Select your type", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group col-4">
                    <label asp-for="HireDate" class="control-label"></label>
                    <input asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="EmployeePayHistoryDtos.Rate" class="control-label"></label>
                    <input asp-for="EmployeePayHistoryDtos.Rate" class="form-control" value="@Model.EmployeePayHistoryDtos.Rate" />
                    <span asp-validation-for="EmployeePayHistoryDtos.Rate" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="EmployeePayHistoryDtos.PayFrequency" class="control-label"></label>
                    <input asp-for="EmployeePayHistoryDtos.PayFrequency" class="form-control" />
                    <span asp-validation-for="EmployeePayHistoryDtos.PayFrequency" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="VacationHours" class="control-label"></label>
                    <input asp-for="VacationHours" class="form-control" />
                    <span asp-validation-for="VacationHours" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="SickLeaveHours" class="control-label"></label>
                    <input asp-for="SickLeaveHours" class="form-control" />
                    <span asp-validation-for="SickLeaveHours" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Employee JobTitle</label>
                    <div class="input-group input-group-merge">
                        @Html.DropDownList("JobTitle",ViewBag.JobTitle,"--Choose JobTitle--",
                        new{@class="form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Employee Departement</label>
                    <div class="input-group input-group-merge">
                        @Html.DropDownList("EmployeeDepartmentHistoryDtos.DepartmentId",ViewBag.DepartementId,"--Choose Departement--",
                        new{@class="form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Employee BusinessEntity</label>
                    <div class="input-group input-group-merge">
                        @Html.DropDownList("EmployeeDepartmentHistoryDtos.ShiftId",ViewBag.ShiftoId,"--Choose Shift--",
                        new{@class="form-control"})
                    </div>
                </div>

                <br />
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="Index">
                        <input type="button" class="btn btn-secondary" value="Back" />
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
*@



@*@model AWork.Contracts.Dto.HumanResources.EmployeeGroupDto

@{
    ViewData["Title"] = "IndexAsync";
}

<h1>Create</h1>


<form class="row g-3" asp-action="Create">
    <div class="col-md-8">
        <label for="specificSizeSelect">Business Entity</label>
        <select asp-for="employeeForCreateDto.BusinessEntityId" class="form-control" asp-items="ViewBag.BusinessEntityId">
        </select>
    </div>
    <div class="col-6">
        <label for="inputAddress" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="full Name">
    </div>
    <div class="col-4">
        <label for="inputAddress2" class="form-label">Suffix</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Suffix">
    </div>

    <div class="form-group col-6">
        <label asp-for="employeeForCreateDto.NationalIdnumber" class="control-label"></label>
        <input asp-for="employeeForCreateDto.NationalIdnumber" class="form-control" />
        <span asp-validation-for="employeeForCreateDto.NationalIdnumber" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="employeeForCreateDto.BirthDate" class="control-label"></label>
        <input asp-for="employeeForCreateDto.BirthDate" class="form-control" />
        <span asp-validation-for="employeeForCreateDto.BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        @Html.LabelFor(model => model.employeeForCreateDto.MaritalStatus, htmlAttributes: new{@class ="form-label"})
        @Html.DropDownListFor(model => model.employeeForCreateDto.MaritalStatus, new List<SelectListItem>
        {
        new SelectListItem{ Text="Married", Value = "M" },
        new SelectListItem{ Text="Single", Value = "S" }},
        "Select your type", htmlAttributes: new { @class = "form-control" })

    </div>
    <div class="form-group col-6">
        @Html.LabelFor(model => model.employeeForCreateDto.Gender, htmlAttributes: new{@class ="form-label"})
        @Html.DropDownListFor(model => model.employeeForCreateDto.Gender, new List<SelectListItem>
        {
        new SelectListItem{ Text="Male", Value = "M" },
        new SelectListItem{ Text="Female", Value = "F" }},
        "Select your type", htmlAttributes: new { @class = "form-control" })

    </div>
    <div class="form-group col-4">
        <label asp-for="employeeForCreateDto.HireDate" class="control-label"></label>
        <input asp-for="employeeForCreateDto.HireDate" class="form-control" />
        <span asp-validation-for="employeeForCreateDto.HireDate" class="text-danger"></span>
    </div>
    <div class="form-group col-4">
        <label asp-for="employeePHForCreateDto.Rate" class="control-label"></label>
        <input asp-for="employeePHForCreateDto.Rate" class="form-control" />
        <span asp-validation-for="employeePHForCreateDto.Rate" class="text-danger"></span>
    </div>
    <div class="form-group col-4">
        <label asp-for="employeePHForCreateDto.PayFrequency" class="control-label"></label>
        <input asp-for="employeePHForCreateDto.PayFrequency" class="form-control" />
        <span asp-validation-for="employeePHForCreateDto.PayFrequency" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="employeeForCreateDto.VacationHours" class="control-label"></label>
        <input asp-for="employeeForCreateDto.VacationHours" class="form-control" />
        <span asp-validation-for="employeeForCreateDto.VacationHours" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="employeeForCreateDto.SickLeaveHours" class="control-label"></label>
        <input asp-for="employeeForCreateDto.SickLeaveHours" class="form-control" />
        <span asp-validation-for="employeeForCreateDto.SickLeaveHours" class="text-danger"></span>
    </div>


    <div class="col-md-8">
        <label for="specificSizeSelect">Departement</label>
        <select asp-for="employeeDepartmentForCreateDto.DepartmentId" class="form-control" asp-items="ViewBag.DepartementId">
        </select>
    </div>
    <div class="col-md-8">
        <label for="specificSizeSelect">Job Title</label>
        <select asp-for="employeeForCreateDto.JobTitle" class="form-control" asp-items="ViewBag.JobTitle">
        </select>
    </div>
    <div class="col-md-8">
        <label for="specificSizeSelect">Shift</label>
        <select asp-for="employeeDepartmentForCreateDto.ShiftId" class="form-control" asp-items="ViewBag.ShiftId">
        </select>
    </div>


    <div class="col-md-3">
                    @Html.LabelFor(model=> model.employeeForCreateDto.BusinessEntityId, htmlAttributes : new{@class="form-label"})
                    @Html.TextBox("salesPersonForCreateDto.BusinessEntityId",String.Empty,
                    new{@placeholder="BusinessEntityId",@class="form-control"})
                </div>
                <div class="col-md-3">
                    <label for="inputAddress" class="form-label">Fullname</label>
                    <input type="text" class="form-control" placeholder="Fullname">
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model=> model.employeeDto.NationalIdnumber, htmlAttributes : new{@class="form-label"})
                    @Html.TextBox("employeeDto.NationalIdnumber",string.Empty,
                    new{@placeholder="National ID Number",@class="form-control"})
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model=> model.employeeDto.JobTitle, htmlAttributes : new{@class="form-label"})
                    @Html.TextBox("employeeDto.JobTitle",string.Empty,
                    new{@placeholder="Job Title",@class="form-control"})
                </div>
</form>*@