@model X.PagedList.IPagedList<AWork.Contracts.Dto.Production.ProductDto>
@using X.PagedList.Mvc.Core


<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}
@*Batas*@
@using (Html.BeginForm("Index", "ProductsSercvice", FormMethod.Get))
{
    <div class="container p-3 my-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mb-3">Search Product</h2>
                <a class="btn btn-primary text-end mb-3" asp-action="Create"><span class="tf-icons bx bx-book-add"></span>&nbsp; Create New</a>
                @*                <a class="btn btn-primary" asp-action="Create"><span class="tf-icons bx bx-book-add"></span>&nbsp; Create New</a>
                *@
                <div class="row">
                    <div class="col-sm-10">
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group mb-1">
                                            @Html.TextBox("SearchString",ViewBag.CurrentFilter as string, new {@class="form-control", @placeholder = "Find By : Name Product or SubCategory Name"})
                                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*   <div class="col-sm-2">
                        Show Data @Html.DropDownList("PageSize",
                        ViewBag.PageSize as SelectList,
                        new{
                        @class="form-control search-slt",
                        @placeholder="Page Size",
                        @onchange="getPagedSize(this.value)"
                        }
                        )
                        </div>*@
                    <div>
                        PAGE SIZE : @Html.DropDownList("PageSize",
                    ViewBag.PageSize as SelectList,
                    new {
                    @placeholder="Page Size",
                    @onchange="getPagedSize(this.value)"
                    }
                    )

                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap" style="height:250px">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId)
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder=@ViewBag.NameProductSort><i class="bx bx-filter-alt me-1"></i>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</a>

                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder=@ViewBag.UnitPriceSort><i class="bx bx-filter-alt me-1"></i>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductNumber)</a>
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().SafetyStockLevel)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ReorderPoint)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().StandardCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ListPrice)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ProductSubcategory)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DaysToManufacture)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DiscontinuedDate)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.SafetyStockLevel <= item.ReorderPoint)
                                {
                                    <tr class="table-danger">
                                        <td>
                                            <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Sophia Wilkerson">
                                                <img src="@Url.Content("~/Resources/Images/" +item.ProductProductPhotos.FirstOrDefault().ProductPhoto.ThumbnailPhotoFileName)" alt="Avatar" class="rounded-circle">
                                            </div>

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductNumber)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SafetyStockLevel)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReorderPoint)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.StandardCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ListPrice)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductSubcategory.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DaysToManufacture)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscontinuedDate)
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    @*<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ProductId"><i class="bx bx-edit-alt me-1"></i> Edit</a>*@
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.ProductId"><i class="bx bx-detail me-1"></i> Details</a>
                                                    <a class="dropdown-item" asp-controller="WorkOrders" asp-action="Index" asp-route-id="@item.ProductId"><i class="bx bxs-briefcase me-1"></i> Work Order</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="table-primary">
                                        <td>
                                            <div data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Sophia Wilkerson">
                                                <img src="@Url.Content("~/Resources/Images/" +item.ProductProductPhotos.FirstOrDefault().ProductPhoto.ThumbnailPhotoFileName)" alt="Avatar" class="rounded-circle">
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductNumber)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SafetyStockLevel)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReorderPoint)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.StandardCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ListPrice)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductSubcategory.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DaysToManufacture)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscontinuedDate)
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    @*<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ProductId"><i class="bx bx-edit-alt me-1"></i> Edit</a>*@
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.ProductId"><i class="bx bx-detail me-1"></i> Details</a>
                                                    <a class="dropdown-item" asp-controller="WorkOrders" asp-action="Index" asp-route-id="@item.ProductId"><i class="bx bxs-briefcase me-1"></i> Work Order</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <center>
                    @*  <div>
                        Filter: @Html.DropDownList("sortOrder",
                        ViewBag.NameProductSort  as SelectList,
                        new {
                        @placeholder="Name",
                        @onchange="getPagedSize(this.value)"
                        }
                        )
                        </div>*@
                    @*@Html.PagedListPager(Model, page => Url.Action("Index", new{page, PageSize = ViewBag.psize, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort}))*@
                    @Html.PagedListPager(Model,page => Url.Action("Index", new {page,PageSize = ViewBag.psize,CurrentFilter=ViewBag.CurrentFilter, sortOrder=ViewBag.CurrentSort}))

                </center>
            </div>
        </div>
    </div>
}
@*Batas*@
<script>
    function getPagedSize(value) {
        document.location.href ="/ProductsSercvice?&PageSize="+ value + "&CurrentFilter=@ViewBag.CurrentFilter&sortOrder=@ViewBag.CurrentSort";
    }
</script>