@model AWork.Contracts.Dto.Production.ProductCategoryDto

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="assets/vendor/fonts/boxicons.css" />
@using (Html.BeginForm("Edit", "ProductCategoriesService", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model=>Model.ProductCategoryId)
    <h4>ProductCategory</h4>
    <div asp-action="Create">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Category</h5>
                <div class="card-body">
                    <div>
                        <div asp-validation-summar="ModelOnly" class="text-danger"></div>
                        @Html.EditorFor(y=>y.Name,new{htmlAttributes =new {@class ="form-control",placeholder="New Category Name"}})
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card col-mb-10">
                <h5 class="card-header">Subcategory</h5>
                <div class="card-body">
                    <div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <th width="10%"></th>

                                </tr>
                                @for (int i = 0; i < Model.ProductSubcategories.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @* @Html.EditorFor(x=>x.SubCategoryDtos[i].Name, new{htmlAttributes =new {@class ="form-control",placeholder="Subcategory Name",size="50"} })*@
                                            @Html.EditorFor(x=>x.ProductSubCategoryDto[i].Name, new{htmlAttributes =new {@class ="form-control",placeholder="Subcategory Name",size="50"} })

                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <table id="ExpTable">
                            <tr>
                                <th width="10%"></th>

                            </tr>
                            @for (int i = 0; i < Model.ProductSubCategoryForCreateDto.Count; i++)
                            {
                                <tr>
                                    <td class="input-group">
                                        @Html.EditorFor(x=>x.ProductSubCategoryForCreateDto[i].Name, new{htmlAttributes =new {@class ="form-control",placeholder="New Subcategory Name",position="center"} })
                                        <button id="btnadd-@i" type="button" class="btn btn-outline-primary visible" onclick="AddItem(this)" style="position:center">Add</button>
                                        <button id="btnremove-@i" type="button" class="btn btn-outline-primary visible" onclick="DeleteItem(this)" style="position:center">Delete</button>
                                    </td>

                                </tr>
                            }
                        </table>
                        <input type="hidden" id="hdnLastIndex" value="0" />
                    </div>
                    <br>
                    <div class="col-12 btn-group">
                        <div class="col-5 form-group text-right p-2">
                            <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                        </div>
                        <div class="col-5 form-group text-right p-2">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript">

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });



    function DeleteItem(btn) {
        $(btn).closest('tr').remove();
    }



    function AddItem(btn) {

        var table = document.getElementById('ExpTable');
        var rows = table.getElementsByTagName('tr');

        var rowOuterHtml = rows[rows.length - 1].outerHTML;

        var lastrowIdx = document.getElementById('hdnLastIndex').value;

        var nextrowIdx = eval(lastrowIdx) + 1;

        document.getElementById('hdnLastIndex').value = nextrowIdx;

        rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
        rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
        rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


        var newRow = table.insertRow();
        newRow.innerHTML = rowOuterHtml;



        var btnAddID = btn.id;
        var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');

      var delbtn = document.getElementById(btnDeleteid);
        delbtn.classList.add("visible");
        delbtn.classList.remove("invisible");


        var addbtn = document.getElementById(btnAddID);
        addbtn.classList.remove("visible");
        addbtn.classList.add("visible");

    }

</script>

}
